<div class="item profile">
    <div>
    <span [ngStyle]="{'float':'left'}"><img src="./assets/IMG_3611.JPG" alt=""></span>
    <span class="t1">Good morning,<b> Saurabh!</b> <br><b><i>Settings</i></b></span></div>
    <div [ngStyle]="{'margin-left':'15px'}">
        <i class="fa-solid fa-arrow-right-arrow-left"></i> <span class="recent">Recent Activity</span><br><br>
        <div class="act">&uarr; 1,837 USD = 0.084 BTC <br>
        <i> 1 BTC = 8.468 USD </i>
        </div><br><br>
        <div class="act">&uarr; 1,837 USD = 0.084 BTC <br>
        <i> 1 BTC = 8.468 USD </i>
        </div><br><br>
        <div class="act">&uarr; 1,837 USD = 0.084 BTC <br>
        <i> 1 BTC = 8.468 USD </i>
        </div><br><br>
    </div>
    <div>
        <div [ngStyle]="{'margin':'35px 0 0 12px'}">
        <i class="fa-solid fa-rotate"></i> <span class="recent">Exchange</span> <span><button class="btn">USD</button></span><br><br>
        </div>
        <div [ngStyle]="{'margin':'15px 0 0 25px'}">
        <b><i class="money">1,700.00 USD</i></b>
        </div>
    <div [ngStyle]="{'margin':'30px 0 0 25px'}">
        <b><i class="money">0.674931 BTC</i></b>
    </div>
    <div class="extra">
        <i class="fa-solid fa-envelope-open-text"></i>
        <span> Invite Customers and get <b>$10</b> for each</span>
        <button class="btn">Send Invitation</button>
    </div>
    </div>
</div>